<a href="/posts/new">New Post</a>

<h3>Posts:</h3>
<ul class="posts_index">
  <% @posts.each do |post| %>
    <li class="post">
      <%= render partial: 'show', locals: { post: post } %>
    </li>
  <% end %>
</ul>
